<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <head>
  	<title>
      Client Network Banking
    </title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #d1e1f9;
      }

      option:nth-child(even) {
          background-color: #d1e1f9;
      }
  </style>

  <script>
  	function formTableClient(client_details){
  		/* Table Formation for Selection of Client
  		*/
  		var table = document.getElementById("NetworkTable");
  		var eventOptions= document.getElementById("eventOptions");
  		var clientOptions= document.getElementById("clientOptions");
  		clientSelected= clientOptions.options[clientOptions.selectedIndex].innerHTML;
  		eventSelected= eventOptions.options[eventOptions.selectedIndex].innerHTML;
  		console.log(eventSelected);
  		if(eventSelected == " -- select an option -- ")
  		{
  			table.innerHTML="";
  			firstRow= document.createElement("tr");
		    eventHeader= document.createElement("th");
		    eventHeader.innerHTML="Event";
		    newsHeader= document.createElement("th");
		    newsHeader.innerHTML="News";
		    clientHeader= document.createElement("th");
		    clientHeader.innerHTML="Client";
		    firstRow.appendChild(eventHeader);
		    firstRow.appendChild(newsHeader);
		    firstRow.appendChild(clientHeader);
		    table.appendChild(firstRow);
  			for(client in client_details)
  			{
  				client_names= client_details[client]['Client_Names'];
  				for(c in client_names)
  				{
  					clientSelected= clientSelected.replace("&gt;",">");
  					clientSelected= clientSelected.replace("&lt;","<");
  					console.log(client_details);
  					if(client_names[c] == clientSelected)
  					{
  						
  						clientStr='';
			    		tr= document.createElement('tr');
			    		eventTd=document.createElement('td');
			    		newsTd=document.createElement('td');
			    		clientsTdMain=document.createElement('td');
			    		eventTd.innerHTML= client_details[client]['Event_Type'];
			    		newsTd.innerHTML= client_details[client]['href'];
			    		for (c in client_details[client]['Client_Names'] ){
			    			clientStr= clientStr +  ' ' + client_details[client]['Client_Names'][c];
			    			clientStr=clientStr.replace("<","");
			    			clientStr=clientStr.replace(">","");
			    			console.log(clientStr);
			    		}
			    		clientsTdMain.innerHTML= clientStr;
			    		tr.appendChild(eventTd);
			    		tr.appendChild(newsTd);
			    		tr.appendChild(clientsTdMain);
			    		table.appendChild(tr);

  					}
  				}
  			}
  		}

  		else
  		{	
  			table.innerHTML="";
  			firstRow= document.createElement("tr");
		    eventHeader= document.createElement("th");
		    eventHeader.innerHTML="Event";
		    newsHeader= document.createElement("th");
		    newsHeader.innerHTML="News";
		    clientHeader= document.createElement("th");
		    clientHeader.innerHTML="Client";
		    firstRow.appendChild(eventHeader);
		    firstRow.appendChild(newsHeader);
		    firstRow.appendChild(clientHeader);
		    table.appendChild(firstRow);
  			for(client in client_details)
  			{
  				client_names= client_details[client]['Client_Names'];
  				for(c in client_names)
  				{
  					client_names[c]= client_names[c].replace(">","");
  					client_names[c]= client_names[c].replace("<","");
  					if(client_names[c] == clientSelected)
  					{

  						clientStr='';
			    		tr= document.createElement('tr');
			    		eventTd=document.createElement('td');
			    		newsTd=document.createElement('td');
			    		clientsTdMain=document.createElement('td');
			    		eventTd.innerHTML= client_details[client]['Event_Type'];
			    		newsTd.innerHTML= client_details[client]['href'];
			    		for (c in client_details[client]['Client_Names'] ){
			    			clientStr= clientStr +  ' ' + client_details[client]['Client_Names'][c];
			    			clientStr=clientStr.replace("<","");
			    			clientStr=clientStr.replace(">","");
			    		}
			    		clientsTdMain.innerHTML= clientStr;
			    		tr.appendChild(eventTd);
			    		tr.appendChild(newsTd);
			    		tr.appendChild(clientsTdMain);
			    		table.appendChild(tr);

  					}
  				}
  			}
}
  		


  	}

	function formTableEvent(client_details) {
		/* Table Formation for Selection of Event
  		*/
	    var table = document.getElementById("NetworkTable");
	    table.innerHTML="";

	    firstRow= document.createElement("tr");
	    eventHeader= document.createElement("th");
	    eventHeader.innerHTML="Event";
	    newsHeader= document.createElement("th");
	    newsHeader.innerHTML="News";
	    clientHeader= document.createElement("th");
	    clientHeader.innerHTML="Client";
	    firstRow.appendChild(eventHeader);
	    firstRow.appendChild(newsHeader);
	    firstRow.appendChild(clientHeader);
	    table.appendChild(firstRow);
	    var eventOptions= document.getElementById("eventOptions");
	    var clientOptions= document.getElementById("clientOptions");
  		clientOptions.innerHTML="";
	    eventSelected= eventOptions.options[eventOptions.selectedIndex].innerHTML;
	    var flag=0;
	    for (client in client_details)
	    {
	    	
	    	if(client_details[client]['Event_Type'] == eventSelected)
	    	{
	    		flag=1;
	    		clientStr='';
	    		tr= document.createElement('tr');
	    		eventTd=document.createElement('td');
	    		newsTd=document.createElement('td');
	    		clientsTdMain=document.createElement('td');
	    		eventTd.innerHTML= client_details[client]['Event_Type'];
	    		newsTd.innerHTML= client_details[client]['href'];
	    		
	    		for (c in client_details[client]['Client_Names'] ){
	    			opt=document.createElement("option");
	    			var temp=client_details[client]['Client_Names'][c];
	    			temp=temp.replace("<","");
	    			temp=temp.replace(">","");
	    			opt.innerHTML=temp;
	    			opt.value=temp;
	    			console.log(opt);
	    			clientOptions.appendChild(opt);
	    			clientStr= clientStr +  ' ' + client_details[client]['Client_Names'][c];
	    			clientStr=clientStr.replace("<","");
	    			clientStr=clientStr.replace(">","");
	    		}

	    		clientsTdMain.innerHTML= clientStr;
	    		tr.appendChild(eventTd);
	    		tr.appendChild(newsTd);
	    		tr.appendChild(clientsTdMain);
	    		table.appendChild(tr);
	    		
	    	} 
	    }

	    if (flag ==0 )
	    {
	    	window.alert('Try again Later!');
	    }

	    
	}

	
</script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> Client Network Banking</a>
        </div>
      </div>
     </nav>
    <div class="row">
	  <div class="col-sm-6">
	  	<h1>Event Options</h1>
	  	<select class="form-control" id="eventOptions" onchange="formTableEvent({{client_details}})">
	     	<option disabled selected value> -- select an option -- </option>
	        <option >Management Change</option>
	        <option >Management Default</option>
	        <option >Strike</option>
	        <option >Share Price Deviation</option>
	        <option >Credit Rating</option>
	        
	     </select>
	  </div>
	  <div class="col-sm-6">
	  	<h1>Client Options</h1>
  		<select class="form-control" id="clientOptions" onchange="formTableClient({{client_details}})">
	     	{% for client in client_details %}
            	{%for c in client['Client_Names'] %}
	        		<option>{{c}}</option>
	        	{% endfor %}
	        {% endfor %}
     	</select>
	  </div>
	</div>
</br></br>
	<table id='NetworkTable'></table>
  </body>

</html>